<%= form_for(@evaluation) do |f| %>
  <% if @evaluation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@evaluation.errors.count, "error") %> prohibited this evaluation from being saved:</h2>

      <ul>
      <% @evaluation.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :student_id %><br />
    <%= f.select :student_id, Student.name_surname_id %>
  </div>
  <div class="field">
    <%= f.label :subject_id %><br />
    <%= f.select :subject_id, Subject.names_id %>
  </div>
  <div class="field">
    <%= f.label :semestr %><br />
    <%= f.select :semestr, Evaluation::SEMESTERS %>
  </div>
  <div class="field">
    <%= f.label :evaluation %><br />
    <%= f.select :evaluation, Evaluation::EVALUATIONS %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
