<table>
  <tr>
    <th>Surname</th>
    <th>Group</th>
    <th>Semestr</th>
    <th>>=GPA</th>
    <th><=GPA</th>
  </tr>

  <tr>
  <%= form_tag ('/pages/index'), :method => :get, :remote => true do %>
    <td>
      <div class="field">
        <%= text_field_tag :surname, params[:f_surname] %>
      </div>
    </td>
    <td>
      <div class="field">
        <%= select_tag :group_id ,options_for_select(@groups), prompt: 'select group' %>
      </div>
    </td>
    <td>
      <div class="field">
        <%= select_tag :semestr, options_for_select(@semestrs), prompt: 'select semestr', :class => "span2" %>
      </div>
    </td>
    <td>
      <div class="field">
        <%= text_field_tag :gpa_greater_or_equal, params[:gpa_greater_or_equal], :class => "span1" %>
      </div>
    </td>
    <td>
      <div class="field">
        <%= text_field_tag :gpa_less_or_equal, params[:gpa_less_or_equal], :class => "span1" %>
      </div>
    </td>
    <td>
      <div class="actions">
        <%= submit_tag "search", :class => "btn btn-primary" %>
      </div>
    </td>
  <% end %>
  </tr>
  <tr>
  <%= form_tag ('/pages/ip_character'), :method => :get, :remote => :true do %>
     <td>
      <div class="actions">
        <%= submit_tag "ip + character", :class => "btn btn-primary" %>
      </div>
    </td> 
  <% end %>
  </tr>
</table>