<div id="student_evaluations">
</div>
<table>
  
  <tr>
    <th>Surname</th>
    <th>Name</th>
    <th>Group</th>
    <th>Dob</th>
    <th>Email</th>
    <th>Ip</th>
    <th>Time</th>
    <th>subject</th>
    <th>semestr</th>
    <th>evaluation</th>
    <th>Gpa</th>
    <th>Characterization</th>
  </tr>

<% @students.each do |student| %>
  <tr>
    <td><%= student.surname %></td>
    <td><%= student.name %></td>
    <td><%= Group.find_by_id(student.group_id).name %></td>
    <td><%= student.dob %></td>
    <td><%= student.email %></td>
    <td><%= student.ip %></td>
    <td><%= student.created_at %></td>
    <td colspan=3>
    <table>
      <% Evaluation.evaluations_for_student(student.id, params[:semestr]).each do |evaluation| %>
        <tr>
        <td><%= Subject.find_by_id(evaluation.subject_id).name %></td>
        <td><%= evaluation.semestr %></td>
        <td><%= evaluation.evaluation %></td>
        </tr> 
    <% end %>
    </table>
    </td>
  
    
    <% if student.gpa %>
      <td><%= link_to student.gpa , student_evaluations_path(student, params[:semestr]), :remote => true %></td>
      <td><%= student.characterization %></td>
    <% end %>
<% end %>

</table>